:root{
    --violet: #6018a3;
    --miku: #3ef3f3;
    --white: #ffffff;
    --comfygrey: #d3d3d3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body{
    background-color: var(--comfygrey);
}

.main-page-header{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 4rem 8rem 0rem;
}

.quests{
    font-size: 2rem;
    font-weight: bold;
}

.answers{
    justify-content: center;
}

.hidden{
    display: none;
}

.timer{
    display: flex;
    justify-content: flex-end;
    
}

.quests{
    display: flex;
    justify-content: center;
}

.start-quiz{
    border-radius: 10px;
    background-color: var(--violet);
    color: var(--white);
    font-weight: bold;
    font-size: 1rem;
}

